# Dependencies
node_modules/

# Environment configuration
.env

# Logs
logs/
*.log
npm-debug.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Coverage directory
coverage/

# IDE / Editor folders
.idea/
.vscode/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db
.qodo
